<!DOCTYPE html>
<html  lang="zxx" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <title>

  {% block title %}User{% endblock %}
    </title>
    {% block stylesheets %}
      {% include 'includes/stylesheets.html.twig' %}
    {% endblock stylesheets %}

    {% block cystomstyle %}
      <link rel="stylesheet" href="{{ asset('css/fos.css') }}" />
    {% endblock %}
  </head>
  <body class="w3-light-grey">
  {% block header %}
      {% include 'header/navbar.html.twig' %}
  {% endblock header %}
    <hr>
    {# <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div> #}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {# <div class="container justify-content" style="width:500px;"> #}
    <div class="w3-container" style="margin:auto;">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

    <hr>
  {% block footer %}
      {% include 'footer/footerbis.html.twig' %}
  {% endblock %}


    <!-- JavaScript files-->
    {% block javascripts %}
      <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}
  </body>
</html>
